#navbar {
    width: 20%;
    height: 100%;
    border: 2px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    float: left;

}

#navbar a {
    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
 

h1 {
   font: pirata one;
}

#photos {
 
    height: 100%;
    border: 2px solid black;
    float: right;
    width: 80%;
}


 .p-3 {
     width: 200px;
 }


  

  