#navbar {
    width: 20%;
    
    border: 2px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    float: left;
    text-align: center;
    
  
}
img {
  width: 200px;
  height: 200px;
}



h1 {
   font: pirata one;
}

#photos {
 
   float: right;
    background: black;
    width: 80%;
    top: 0;
    top: 5px;
    z-index: 1;
    
    right: 0;
}

li {
  font: light 300;
}
