#navbar {
    width: 20%;
    
    border: 2px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    float: left;
    text-align: center;
    
  
}
img {
  width: 200px;
  height: 200px;
}


#list {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
 padding-left: 5px;
 text-align: center;
}

#title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 30px;
}

#description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
